body {
    background-color: #f0f0f0;
    margin: 30px;
    padding: 30px;
    font-family: Arial, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
